In [3]:
import numpy as np
import pandas as pd

In [8]:
people = pd.read_csv("labeled_data_with_metrics.csv")
people = people.drop(columns= "Unnamed: 0", axis=1)
people

,distinct_id,locationSetting,notificationSettings,active_timespan,US,Facebook,Foodie,Google,Unknown,num_sessions,...,commentAdded,commentLength,churned,number_ratings,SQS,avg_session_duration,time_delta_slope,session_time_slope,time_delta_slope_90,session_time_slope_90
0,00000000-0000-0000-0000-000000000000,1,0,24.202130,0,0,1,0,0,2,...,0,0.000000,1,0.0,-1.000000,-1.000000,0.000000e+00,0.000000,0.000000e+00,0.000000
1,000BA5B1-DBEF-414E-ACEC-1A2FCC2053DD,1,1,1.130949,1,0,0,1,1,97,...,0,0.000000,0,1.0,40.181818,82.854545,1.113364e+03,6.302727,0.000000e+00,0.000000
2,001210DC-54C8-43AD-B295-148F47818391,1,0,7.158310,1,0,0,1,1,61,...,0,0.000000,0,0.0,20.000000,47.940000,-1.171600e+04,6.667879,0.000000e+00,0.000000
3,0019C3B9-FA62-4AB4-A895-1390A1FA818C,1,1,0.000000,1,0,1,0,0,1,...,0,0.000000,0,0.0,-1.000000,-1.000000,0.000000e+00,0.000000,0.000000e+00,0.000000
4,0025A8A4-2590-4ECA-8CE8-419D710AE46F,1,0,113.687361,1,0,1,0,1,64,...,0,0.000000,0,1.0,27.375000,177.325000,6.155496e+05,-41.476190,-9.127842e+06,6.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7210,wandaandreu@gmail.com_5053,1,0,188.791597,1,0,1,0,1,5,...,0,0.000000,0,0.0,1.666667,54.700000,1.371636e+07,-44.650000,0.000000e+00,0.000000
7211,willwojt@gmail.com_6868,1,0,37.992164,1,0,1,0,1,178,...,5,2.252809,0,7.0,4.171717,61.190909,-1.221786e+02,0.021697,-1.221786e+02,0.021697
7212,wolphramite@gmail.com_291,1,0,79.125498,1,0,1,0,1,4,...,0,0.000000,1,0.0,1.000000,17.500000,0.000000e+00,0.000000,0.000000e+00,0.000000
7213,xbarbarazhong@gmail.com_6704,1,0,0.584016,1,0,1,0,1,21,...,0,0.000000,1,0.0,42.000000,124.150000,0.000000e+00,132.500000,0.000000e+00,0.000000
7214,yoon.s.jeong@gmail.com_6485,1,1,0.500000,1,0,1,0,1,2,...,0,0.000000,1,0.0,2.000000,41.300000,0.000000e+00,0.000000,0.000000e+00,0.000000

In [9]:
people.columns

Index(['distinct_id', 'locationSetting', 'notificationSettings',
       'active_timespan', 'US', 'Facebook', 'Foodie', 'Google', 'Unknown',
       'num_sessions', 'sessions_per_day', 'America/New_York',
       'America/Los_Angeles', 'America/Chicago', 'Asia/Kolkata',
       'America/Denver', 'other_timezone', 'commentAdded', 'commentLength',
       'churned', 'number_ratings', 'SQS', 'avg_session_duration',
       'time_delta_slope', 'session_time_slope', 'time_delta_slope_90',
       'session_time_slope_90'],
      dtype='object')